name: Generate Runtime NuGet Packages

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      apps:
        description: Comma separated list of apps to generate packages for (leave empty to use APPS variable)
        required: false
        default: ''
      dependencies:
        description: Comma separated list of dependencies to publish before generating runtime packages (leave empty to use DEPENDENCIES variable)
        required: false
        default: ''
      country:
        description: Country for the main runtime version in the NuGet package (leave empty to use COUNTRY variable, default is w1)
        required: false
        default: ''
      additionalCountries:
        description: Comma separated list of additional countries to include in the NuGet package (leave empty to use ADDITIONALCOUNTRIES variable, default is none)
        required: false
        default: ''
      artifactVersion:
        description: Business Central artifacts version (leave empty to use ARTIFACTVERSION variable, default is to auto-calculate needed artifacts)
        required: false
        default: ''
      artifactType:
        description: Type of Business Central artifacts to use, onprem or sandbox (leave empty to use ARTIFACTTYPE variable, default is sandbox)
        required: false
        default: ''
      nuGetServerUrl:
        description: NuGet server URL (leave empty to use RUNTIMENUGETSERVERURL variable)
        required: false
        default: ''

jobs:
  DetermineArtifacts:
    name: Determine Business Central Artifacts
    runs-on: [ ubuntu-latest ]
    outputs:
      artifactVersions: ${{ steps.determineArtifacts.outputs.ArtifactVersions }}
      artifactVersionCount: ${{ steps.determineArtifacts.outputs.ArtifactVersionCount }}
      runtimeDependencyPackageIds: ${{ steps.determineArtifacts.outputs.RuntimeDependencyPackageIds }}
    steps:
      - uses: actions/checkout@v3

      - name: Determine Artifacts
        id: determineArtifacts
        shell: pwsh
        env:
          nuGetToken: ${{ secrets.NUGETTOKEN }}
          nuGetServerUrl: '${{ github.event.inputs.nuGetServerUrl != '' && github.event.inputs.nuGetServerUrl || vars.NUGETSERVERURL }}'
          apps: '${{ github.event.inputs.apps != '' && github.event.inputs.apps || vars.APPS }}'
          dependencies: '${{ github.event.inputs.dependencies != '' && github.event.inputs.dependencies || vars.DEPENDENCIES }}'
          country: '${{ github.event.inputs.country != '' && github.event.inputs.country || vars.COUNTRY }}'
          additionalCountries: '${{ github.event.inputs.additionalCountries != '' && github.event.inputs.additionalCountries || vars.ADDITIONALCOUNTRIES }}'
          artifactVersion: '${{ github.event.inputs.artifactVersion != '' && github.event.inputs.artifactVersion || vars.ARTIFACTVERSION }}'
          artifactType: '${{ github.event.inputs.artifactType != '' && github.event.inputs.artifactType || vars.ARTIFACTTYPE }}'
        run: |
          . (Join-Path $env:GITHUB_WORKSPACE "DetermineArtifacts.ps1")

  GenerateRuntimeNuGetPackages:
    name: Runtime
    needs: [ DetermineArtifacts ]
    if: needs.DetermineArtifacts.outputs.artifactVersionCount > 0
    runs-on: [ windows-latest ]
    strategy:
      matrix:
        include: ${{ fromJson(needs.DetermineArtifacts.outputs.artifactVersions) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Generate Runtime NuGet Packages
        shell: pwsh
        env:
          nuGetToken: ${{ secrets.NUGETTOKEN }}
          nuGetServerUrl: '${{ github.event.inputs.nuGetServerUrl != '' && github.event.inputs.nuGetServerUrl || vars.NUGETSERVERURL }}'
          apps: '${{ github.event.inputs.apps != '' && github.event.inputs.apps || vars.APPS }}'
          dependencies: '${{ github.event.inputs.dependencies != '' && github.event.inputs.dependencies || vars.DEPENDENCIES }}'
          country: '${{ github.event.inputs.country != '' && github.event.inputs.country || vars.COUNTRY }}'
          additionalCountries: '${{ github.event.inputs.additionalCountries != '' && github.event.inputs.additionalCountries || vars.ADDITIONALCOUNTRIES }}'
          artifactVersion: '${{ github.event.inputs.artifactVersion != '' && github.event.inputs.artifactVersion || vars.ARTIFACTVERSION }}'
          artifactType: '${{ github.event.inputs.artifactType != '' && github.event.inputs.artifactType || vars.ARTIFACTTYPE }}'
          incompatibleArtifactVersion: ${{ matrix.incompatibleArtifactVersion }}
          runtimeDependencyPackageIds: ${{ needs.DetermineArtifacts.outputs.runtimeDependencyPackageIds }}
        run: |
          . (Join-Path $env:GITHUB_WORKSPACE "GenerateRuntimeNuGetPackages.ps1")

  GenerateIndirectNuGetPackage:
    name: Generate Indirect NuGet Package
    needs: [ DetermineArtifacts, GenerateRuntimeNuGetPackages ]
    if: needs.DetermineArtifacts.outputs.artifactVersionCount > 0
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3

      - name: Generate Indirect NuGet Package
        shell: pwsh
        env:
          nuGetToken: ${{ secrets.NUGETTOKEN }}
          nuGetServerUrl: '${{ github.event.inputs.nuGetServerUrl != '' && github.event.inputs.nuGetServerUrl || vars.NUGETSERVERURL }}'
          apps: '${{ github.event.inputs.apps != '' && github.event.inputs.apps || vars.APPS }}'
          dependencies: '${{ github.event.inputs.dependencies != '' && github.event.inputs.dependencies || vars.DEPENDENCIES }}'
          country: '${{ github.event.inputs.country != '' && github.event.inputs.country || vars.COUNTRY }}'
          additionalCountries: '${{ github.event.inputs.additionalCountries != '' && github.event.inputs.additionalCountries || vars.ADDITIONALCOUNTRIES }}'
          artifactVersion: '${{ github.event.inputs.artifactVersion != '' && github.event.inputs.artifactVersion || vars.ARTIFACTVERSION }}'
          artifactType: '${{ github.event.inputs.artifactType != '' && github.event.inputs.artifactType || vars.ARTIFACTTYPE }}'
        run: |
          . (Join-Path $env:GITHUB_WORKSPACE "GenerateIndirectPackage.ps1")
