name: Generate NuGet Packages

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      apps:
        description: Comma separated list of apps to generate packages for
        required: false
        default: 'https://github.com/BusinessCentralApps/buildorder/releases/download/2.0.200/BO-DK-main-Apps-2.0.200.0.zip'
      nuGetServerUrl:
        description: NuGet server URL
        required: false
        default: '${{ vars.NuGetServerUrl }}'

jobs:
  GenerateNuGetPackages:
    name: Generate NuGet Packages
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3

      - name: Generate NuGet Packages
        shell: pwsh
        env:
          nuGetToken: ${{ secrets.NUGETTOKEN }}
          nuGetServerUrl: ${{ github.event.inputs.nuGetServerUrl }}
          apps: ${{ github.event.inputs.apps }}
        run: |
          . (Join-Path $env:GITHUB_WORKSPACE "GenerateNuGetPackages.ps1")
